body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html, body, .container-fluid {
    height: 100vh;
    margin: 0 10px 0 10px;
    background-color: #dcdcdc;
    padding-left:0 !important; 
    padding-right:0 !important;
}

.button__text {
    /* font-size: 14vw; */
}

.custom-control {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}